{% load static %}

<link href="{% static 'css/style_footer.css' %}" rel="stylesheet" type="text/css" />
<footer>
  <div class="integrante">
    <div class="nome">Fernanda Auler</div>
    <div class="curso">
      Ciência da Computação
      <span class="separator">|</span>
      <a href="https://www.linkedin.com/in/fernanda-auler-928730296?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
        <img class="imgLinkedin" src="{% static 'img/linkedin.jpeg' %}" alt="LinkedIn">
      </a>
    </div>
  </div>
  <div class="integrante">
    <div class="nome">Maria Laura Soares</div>
    <div class="curso">
      Ciência da Computação
      <span class="separator">|</span>
      <a href="https://www.linkedin.com/in/maria-laura-soares-1a10b122b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
          <img class="imgLinkedin" src="{% static 'img/linkedin.jpeg' %}" alt="LinkedIn">
      </a>
    </div>
  </div>
  <div class="integrante">
    <div class="nome">Isabelle Nazareth</div>
    <div class="curso">
      Ciência da Computação
      <span class="separator">|</span>
      <a href="https://www.linkedin.com/in/isabelle-silva-nazareth?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
          <img class="imgLinkedin" src="{% static 'img/linkedin.jpeg' %}" alt="LinkedIn">
      </a>
    </div>
  </div>
  <div class="integrante">
    <div class="nome">Lúcio Campos</div>
    <div class="curso">
      Ciência da Computação
      <span class="separator">|</span>
      <a href="https://www.linkedin.com/in/lciocamps?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
          <img class="imgLinkedin" src="{% static 'img/linkedin.jpeg' %}" alt="LinkedIn">
      </a>
    </div>
  </div>
</footer>
