{% load static %}

<link rel="stylesheet" href="{% static 'css/style_nav.css' %}">
<nav class="navbar navbar-expand-lg  sticky-top">
    <a class="navbar-brand" href="{% url 'home' %}" style="margin-left: 30px">
    <img src="{% static 'img/logo.png' %}" height="50" class="d-inline-block align-center" alt="logo">
    TAMO JUNTO
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item active">
        <a class="nav-link" href="#">Quem somos?</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'cards' %}">Cards</a>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Área Informativa
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Saúde e Atividade Física</a>
            <a class="dropdown-item" href="{% url 'esportes' %}">Esportes populares</a>
            <a class="dropdown-item" href="#">Como funciona a comunidade TAMO JUNTO?</a>
        </div>
        </li>
    </ul>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <form class="form-inline" style="margin-right: 30px;">
            <a href="{% url 'login' %}" class="btn btn-outline-success" type="button">Login</a>
            <a href="{% url 'cadastro' %}" class="btn btn-outline-success" role="button">Cadastre-se</a>
        </form>
        </li>
    </ul>
    </div>
</nav>

