{% load static %}

<!-- Não está pronta!! -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cadastroInstrutor.css">
</head>
<body>
    <div id="header">  </div>
    <div id="tituloCadastro"> Cadastre-se como instrutor</div>
    <div id="containerDadosPessoais"> 
        
        <div class="subtituloCadastro"> Dados pessoais </div>
        <div class="organizarInputsLinhas">
            <div class="posicaoLabel" id="labelNome"> Nome Completo </div>
            <input class="inputs" id="inputNome" type="text">
            <div class="posicaoLabel" id="labelIdade"> Idade </div>
            <input class="inputs" id="inputIdade" type="text">
        </div>
        <div class="organizarInputsLinhas">
            <div class="posicaoLabel" id="labelPais"> País </div>
            <input class="inputs" id="inputPais" type="text">
            <div class="posicaoLabel" id="labelCep"> CEP </div>
            <input class="inputs" id="inputCep" type="text">
            <div class="posicaoLabel" id="labelCidade"> Cidade </div>
            <input class="inputs" id="inputCidade" type="text">
        </div>
        <div class="organizarInputsLinhas">
            <div class="posicaoLabel" id="labelRua"> Rua </div>
            <input class="inputs" id="inputRua" type="text">
            <div class="posicaoLabel" id="labelNum"> N° </div>
            <input class="inputs" id="inputNum" type="text">
            <div class="posicaoLabel" id="labelComplemento"> Complemento </div>
            <input class="inputs" id="inputComplemento" type="text">
            <div class="posicaoLabel" id="labelCodigo"> Código </div>
            <input class="inputs" id="inputCodigo" type="text">
            <div class="posicaoLabel" id="labelDDD"> DDD </div>
            <input class="inputs" id="inputDDD" type="text">
            <div class="posicaoLabel" id="labelTelefone"> Telefone </div>
            <input class="inputs" id="inputTelefone" type="text">
        </div>
        <div class="organizarInputsLinhas">
            <div class="posicaoLabel" id="labelFoto"> Foto </div>
            <input class="inputs" id="inputFoto" type="file">
            <div id="divFoto"></div>
            <div id="botaoFotoUpload"> Upload</div>
            <div class="posicaoLabel" id="labelGenero"> Gênero </div>
            <input class="inputs" id="inputGenero" type="text">
           
        </div>
        <div class="subtituloCadastro"> Interesses </div>
        <div class="posicaoLabel" id="labelBiografia"> Biografia </div>
        <input class="inputs" id="inputBiografia" type="text">
        <div class="posicaoLabel" id="labelInteresse"> O que mais você tem interesse? </div>
        <input class="inputs" id="inputInteresse" type="text">
        <button id="botaoFinalizar"> Finalizar cadastro </button>
    </div>
    
</body>
</html>