{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cards</title>
    <link href="{% static 'css/style_cards.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    
    {% include "default/nav.html" %}
    <div id='textoTopo'> Como a comunidade do TAMO JUNTO pode te ajudar?</div>
    <div id="buscaBotaoContainer">
        <div class="selections">
          <div class="form-floating">
            <img id="iconeBusca" src="{% static 'img/pesquisa.svg' %}">
            <input type="search" class="form-control" id="inputBusca" placeholder="Região Central" >
            <label id="labelBusca"for="inputBusca"> Busque por esportes, regiões, pessoas... </label>
            
          </div>
        </div>
        <a id='botaoCriar' href="{% url 'criarCard' %}"> Crie uma oportunidade </a>
    </div>
    <div id="OrganizarPaginaCards">
      <div>
        <div id="tituloFiltros"> Aplicar Filtros </div>
        <div class="SubtituloFiltros"> Esportes mais procurados</div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Vôlei Quadra
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
           Futebol
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Atletismo
          </label>
        </div>  
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Jiu-Jitsu
          </label>
        </div>  
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Muay Thai
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Vôlei de Praia
          </label>
        </div>
        <div class="SubtituloFiltros"> Localidades mais populares</div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Niterói
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
           Zona Norte
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Jacarépagua
          </label>
        </div>  
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Méier
          </label>
        </div>  
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Zona Oeste
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Taquara
          </label>
        </div>        
      </div>
      <div id="cardColuna">
        <div id="organizarCards">
          <div class="cardCriado">
            <div class="cardEsporte"> 
            <img class="imagemCard"src="{% static 'img/voleiPraia.png' %}">
            <div class="OrdernarTextoEstrela">
              <div class="textoEsporteCard"> Vôlei de Praia </div>
              <img class="EstrelaCard" src="{% static 'img/estrelaVerde.png' %}">
            </div>
            <div class="textoInformacaoCard"> Morro do Céu - Niterói</div>
            <div class="textoInformacaoCard"> Seg, Qua e Sex (8h às 10h)</div>
            </div>
            <div class="textoCardVerde"> Local: Praia de Piratininga</div>
            <div class="textoCardVerde"> Equipamento Disponível</div>
            <div class="textoPrecoCard"> R$15 / mês </div>
          </div>
          <div class="cardCriado">
            <div class="cardEsporte"> 
            <img class="imagemCard"src="{% static 'img/voleiQuadra.png' %}">
            <div class="OrdernarTextoEstrela">
              <div class="textoEsporteCard"> Vôlei Quadra </div>
              <img class="EstrelaCard" src="{% static 'img/estrelaVerde.png' %}">
            </div>
            <div class="textoInformacaoCard"> Inhaúma - Rio de Janeiro</div>
            <div class="textoInformacaoCard"> Ter, Qui e Sex (20h às 22h)</div>
            </div>
            <div class="textoCardVerde"> Local: Quadra da EM Ceará</div>
            <div class="textoCardVerde"> Equipamento Disponível</div>
            <div class="textoPrecoCard"> R$5 / mês </div>
          </div>
          <div class="cardCriado">
            <div class="cardEsporte"> 
            <img class="imagemCard"src="{% static 'img/atletismo.png' %}">
            <div class="OrdernarTextoEstrela">
              <div class="textoEsporteCard"> Atletismo </div>
              <img class="EstrelaCard" src="{% static 'img/estrelaCinza.png' %}">
            </div>
            <div class="textoInformacaoCard"> Morro do Céu - Niterói</div>
            <div class="textoInformacaoCard"> Seg e Quar (6h às 8h)</div>
            </div>
            <div class="textoCardVerde"> Local: Pista de Atletismo</div>
            <div class="textoCardVerde"> Sem Equipamento</div>
            <div class="textoPrecoCard"> R$5 / mês </div>
          </div>
        </div>
        <div id="organizarCards">
          <div class="cardCriado">
            <div class="cardEsporte"> 
            <img class="imagemCard"src="{% static 'img/futebolCampo.png' %}">
            <div class="OrdernarTextoEstrela">
              <div class="textoEsporteCard"> Futebol </div>
              <img class="EstrelaCard" src="{% static 'img/estrelaCinza.png' %}">
            </div>
            <div class="textoInformacaoCard"> Fonseca - Niterói</div>
            <div class="textoInformacaoCard"> Ter e Sex (20h às 22h)</div>
            </div>
            <div class="textoCardVerde"> Local: Morro do Estado</div>
            <div class="textoCardVerde"> Tragam bola!</div>
            <div class="textoPrecoCard"> R$0 / mês </div>
          </div>
          <div class="cardCriado">
            <div class="cardEsporte"> 
            <img class="imagemCard"src="{% static 'img/jiujitsu.png' %}">
            <div class="OrdernarTextoEstrela">
              <div class="textoEsporteCard"> Jiu-Jitsu </div>
              <img class="EstrelaCard" src="{% static 'img/estrelaVerde.png' %}">
            </div>
            <div class="textoInformacaoCard"> Salgueiro- Niterói</div>
            <div class="textoInformacaoCard"> Qua e Sab (17h30 às 19h)</div>
            </div>
            <div class="textoCardVerde"> Local: Acad. Lutando Bem</div>
            <div class="textoCardVerde"> Usar roupas largas</div>
            <div class="textoPrecoCard"> R$20 / mês </div>
          </div>
          <div class="cardCriado">
            <div class="cardEsporte"> 
            <img class="imagemCard" src="{% static 'img/muaythai.png' %}" >
            <div class="OrdernarTextoEstrela">
              <div class="textoEsporteCard"> Muay Thai </div>
              <img class="EstrelaCard" src="{% static 'img/estrelaVerde.png' %}">
            </div>
            <div class="textoInformacaoCard"> Maré - Rio de Janeiro</div>
            <div class="textoInformacaoCard"> Seg, Qua (18h às 20h)</div>
            </div>
            <div class="textoCardVerde"> Local: Quadra Esportes Maré</div>
            <div class="textoCardVerde"> Tragam Equipamento </div>
            <div class="textoPrecoCard"> R$10 / mês </div>
          </div>
        </div>
      </div>  
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
  <script>
    document.getElementById('inputBusca').addEventListener('input', function() {
      let filter = this.value.toLowerCase();
      let cards = document.getElementsByClassName('cardCriado');

      for (let i = 0; i < cards.length; i++) {
        let card = cards[i];
        let cardText = card.innerText.toLowerCase();

        if (cardText.includes(filter)) {
          card.style.display = '';
        } else {
          card.style.display = 'none';
        }
      }
    });
  </script>
</html>