
body{
    margin: 5px;
}

#tituloCadastro{
    text-align: center;
    margin-top: 33px;
    font-size: 45px;
    color: rgba(13,111,143,1);
    

}

#uploadButton {
    display: inline-block;
    color: #fff;
    background-color: #8FCE3D;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    margin-left:auto;
    margin-right: 10px;
    margin-bottom: 8px;
}

#uploadButton:hover {
    background-color: #0D6F8F;
}
#containerDadosPessoais{
    width: 936px;
    display: block;
    margin: 0 auto;
    margin-top:17px;
  
}
.subtituloCadastro{
    font-size: 25px;
    color: rgba(49,49,49,0.7);
}

.posicaoLabel{
    display: flex;
    position: absolute;
    margin-top: 6px;
    font-size: 18px;
    padding: 4px;
    color: rgba(28, 27, 31, 1);
    background-color:  white
}

.inputs{
    height: 56px;
    margin-top: 20px;
    border: solid 3px rgba(121, 116, 126, 1);
    border-radius: 4px 4px 0px 0px;
    background-color: transparent;
    font-size: 16px;
    color: rgba(28, 27, 31, 1);
}
.organizarInputsLinhas{
    display: flex;
    flex-direction: row;
}
#labelNome{
    margin-left: 20px;
}
#inputNome{
    width: 693px;
    margin-right: 26px;
}
#labelIdade{
    margin-left:739px;
}
#inputIdade{
    width: 217px;
}
#labelPais{
    margin-left: 20px;
}
#inputPais{
    width: 359px;
    margin-right: 31px;
}
#labelCep{
    margin-left: 410px;
}
#inputCep{
    width: 186px;
    margin-right: 30px;
}
#labelCidade{
    margin-left: 626px;
}
#inputCidade{
    width: 330px;
}
#labelRua{
    margin-left: 20px;
}
#inputRua{
    width: 186px;
    margin-right: 27px;
}
#labelNum{
    margin-left: 233px;
}
#inputNum{
    width: 72px;
    margin-right: 27px;
}
#labelComplemento{
    margin-left: 332px;
}
#inputComplemento{
    width: 156px;
    margin-right: 36px;
}
#labelCodigo{
    margin-left: 522px;
}
#inputCodigo{
    width: 93px;
    margin-right: 28px;
}
#labelDDD{
    margin-left: 642px;
}
#inputDDD{
    width: 76px;
    margin-right: 28px;
}
#labelTelefone{
    margin-left: 751px;
}
#inputTelefone{
    width: 205px;
}
#labelFoto{
    margin-left: 20px;
    z-index: 100001;
}
#inputFoto{
    display: flex;
    align-items: center;
    width: 597px;
    padding-top: 13px;
    margin-right: 26px;
    z-index: 100000;
    
}
#divFoto{
    display: flex;
    position:absolute;
    width: 102px;
    height: 32px;
    margin-top: 35px;
    margin-left: 3px;
    background-color: white;
    z-index: 100001;
}
#botaoFotoUpload{
    display: flex;
    position:absolute;
    justify-content: center;
    align-items: center;
    width: 129px;
    height: 35px;
    margin-top: 30px;
    margin-left: 450px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(143,206,61,1);
    color: white;
    
    
}
#labelGenero{
    margin-left: 642px;
}
#inputGenero{
    width: 314px;
}
#subtituloInteresses{
    margin-top: 43px;
}
#labelBiografia{
    margin-left: 20px;
}
#inputBiografia{
    width: 936px;
}
#labelInteresse{
    margin-left: 20px;
}
#inputInteresseMembro{
    width: 936px;
    height: 64px;
}
#inputInteresseInstrutor{
    width: 504px;
}
#labelInstruir{
    margin-left: 535px;
}
#inputInstruir{
    width: 405px;
    margin-left: 25px;
}
#botaoFinalizar{
    width: 205px;
    height: 47px;
    margin-left: 728px;
    margin-top: 30px;
    font-size:20px;
    font-weight: bold;
    background-color:rgba(143,206,61,1);
    border:0px;
    color: white;
    border-radius: 10px;
    
}
#labelCertificado{
    margin-left: 20px;
    z-index: 100001;
}
#inputCertificado{
    display: flex;
    align-items: center;
    width: 936px;
    padding-top: 13px;
    margin-right: 26px;
    z-index: 100000;
    
}
#divCertificado{
    display: flex;
    position:absolute;
    width: 102px;
    height: 32px;
    margin-top: 35px;
    margin-left: 3px;
    background-color: white;
    z-index: 100001;
}
#botaoCertificadoUpload{
    display: flex;
    position:absolute;
    justify-content: center;
    align-items: center;
    width: 129px;
    height: 35px;
    margin-top: 30px;
    margin-left: 800px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(143,206,61,1);
    color: white;
}