::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Poppins', sans-serif; 
  height: 100%;
}

.wrapper {
  display: flex;
  height: 100%;

}

.main {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  background-color: #fafbfe;
}

.container {
  text-align: center;
  padding-top: 100px; /* Adicione essa linha para criar um espaço entre a navbar e o conteúdo */
}
h1 {
  color: #336D85;
  margin-bottom: 20px;
  font-size: 2.5rem;
  background-color: pink;
  
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem; /* Aumenta o espaço entre as caixas */
  width: 100%;
  max-width: 1200px;
}
.option {
  width: 350px;
  height: 484px;
  padding: 20px;
  border-radius: 45px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.option h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.option p {
  margin-bottom: 1rem;
  font-size: 1rem;
  text-align: left;
}
.button {
  display: block;
  padding: 20px 0px;
  background-color: #A4D65E;
  color: white;
  text-align: center;
  border: none;
  border-radius: 86px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  width: auto;
}
.membro {
  background-color: #336D85;
}
.membro h2, .membro p {
  color: white;
}
.instrutor {
  border: 2px solid #336D85;
}
.instrutor h2, .instrutor p {
  color: #336D85;
}
.or {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #336D85;
}

.option p{
  font-size: 1.4rem;
}